body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

/* Style the main content */

.mainImage {
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    /* display: none; */
}

.mainContent img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 46%;
    border: 2px solid white;
    border-radius: 50%;
}

.mainContent .introTxt {
    position: absolute;
    top: 33%;
    left: 19%;
    text-align: center;
    font-size: 30px;
    border: 1px solid white;
    border-right: 0px;
    border-left: 0px;
}

/* Style the buttons and modals */

/* Space modal (background) */

.modalSpace {
    /* Hidden by default */
    display: none;
     /*Stay in place  */
     position: fixed;
    /* Sit on top */
    z-index: 1;
    /* Box location */
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.32);
}

/* Modal content */
.spaceModalContent {
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    box-shadow: -1px 4px 9px 0px #ffffffab;
    width: 50%;
}


.line {
    width: 20%;
    margin-left: 2px;
}


/* Possition the btn */
.btnSpace {
    position: absolute;
    top: 62%;
    left: 44%;
}

/* Style the btn */
.btnSpace {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-size: 25px;
    padding: 10px 54px;
    box-shadow: -1px 4px 9px 0px #ffffffab;
}

.btnSpace:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1300px) {
    .mainContent img {
        left: 51%;
    }

    .btnSpace {
        top: 69%;
        left: 48%;
    }
}


@media only screen and (max-width: 514px) { 
    .btnSpace {
        top: 80%;
    }
}

@media only screen and (max-width: 1251) {
    .mainContent {
        
    }
}

